/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --secondary-color: #0084FD;
    --darkcolor: #333333;
    --lightcolor: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
    --text-card: #657B8E;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--lightcolor);
    color: var(--darkcolor);
}

.container{
    padding: 15px; 
    max-width: 600px;
    margin: 0 auto;  
}

section{
    scroll-margin-top: 80px;
}

/*UTILITIES*/
.text-center{
    text-align: center;
}

.margin{
    margin-left: 30px;
    margin-right: 30px;
}

a{
    text-decoration: none;
}

.rounded{
    border-radius: 20px;
}

.rounded-big{
    border-radius: 50px;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.7rem;
}

.btn{
    display: inline-block;
    padding: 6px 30px;
    border-radius: 20px;
    color: var(--lightcolor);
}

.small-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.medium-text{
    font-size: 1.1rem;
    font-weight: 700;
}

.margin-bottom{
    margin-bottom: 1.5rem;
}


/*HEADER*/
header{
    background-color: var(--secondary-color);
    color: var(--lightcolor);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 10000;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: none;
}

header nav a {
    color: var(--lightcolor);
}

ul{
    list-style: none;
}

.hamburger:hover ~ ul{
    display: block;
}


/*MAIN*/
main{
    margin-top: 80px;
}

.even{
    background-color: var(--primary-color);
}

.card{
    padding: 20px;
    
}


    /*intro*/
#intro .card h3{
    color: var(--secondary-color);
}

#intro .card a{
    color: var(--lightcolor);
}

#intro .card p{
    color: var(--text-card);
}

.btn-blue{
    background-color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.card .phone{
    max-width: 100%;
}

.card-left p{
    text-align: start;
}

#intro .card{
    background-color: var(--bg-card);
    margin-bottom: 10px;
}

#intro .icons{
    font-size: 5em;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

#intro .card:first-child{
    padding-bottom: 0;
}

#intro .card:first-child img{
    display: block;
}


    /*planning*/
#planning {
    color: var(--lightcolor);
}

#planning .col:first-child img{
    margin: 60px 0 70px;
}

#planning .card{
    background-color: var(--lightcolor);
    color: var(--darkcolor);
}

#planning .text{
    margin-bottom: 3rem;
}

#planning h2{
    margin-bottom: 3.1rem;
}

#planning .btn-primary{
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 8px 14px;
    color: var(--darkcolor);
}

#planning .card{
    margin-bottom: 3rem;
}


    /*testimonials*/
#testimonials .card{
    background-color: var(--primary-color);
    color: var(--lightcolor);
    text-align: left;
    margin-bottom: 15px;
}

.user-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

#testimonials .user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


    /*features*/
#features .card{
    background-color: var(--lightcolor);
    color: var(--text-card);
    text-align: left;
    margin-bottom: 15px;
}

#features .card h3, #features .card h4{
    color: var(--primary-color);
}


    /*about-us*/
#about-us .card-text{
    color: var(--primary-color);
}


/*call-to-action*/
#call-to-action{
    color: var(--lightcolor);
}

.btn-big{
    background-color: var(--lightcolor);
    color: var(--primary-color);
}

.big-text{
    font-size: 3rem;
    color: var(--contrast-color);
}


/*FOOTER*/
footer{
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}



/*RESPONSIVE*/
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
        margin: 0 auto;
    }

    .d-flex{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: center;
    }
    #intro .card{
        width: calc((100% / 3) - 10px);
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 10px);
    }

    #features .card{
        width: calc((100% / 2) - 10px);
    }

    #about-us .col{
        padding: 20px;
    }

    #about-us .col:first-child{
        width: calc(60% - 10px);
    }

    #about-us .col:last-child{
        width: calc(40% - 10px);
    }

}

@media screen  and (min-width:992px){
    .container{
        max-width: 940px;
        margin: 0 auto;
    }

    .hamburger{
        display: none;
    }

    header nav ul{
        display: flex;
    }

    .inner-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }

    .card-left, #intro .card img{
        width: calc(50% - 10px);
    }

    #testimonials .inner-flex{
        align-items: center;
    }

    #testimonials .user-image{
        width: 200px;
    }

    #testimonials .card-text{
        width: calc(100% - 210px);
    }

    #planning .col{
        width: calc(50% - 10px);
    }

    #planning .inner-flex{
        align-items: flex-end;
    }

    #planning .col:last-child{
        padding: 0 0 0 50px;
    }

    #planning .col:last-child img{
        width: 90%;
    }

    

}

@media screen  and (min-width:1200px){
    .container{
        max-width: 1150px;
        margin: 0 auto;
    }

    #features .card{
        width: calc((100% / 3) - 10px);
    }

}

@media screen  and (min-width:1600px){
    .container{
        max-width: 1550px;
        margin: 0 auto;
    }

}


