/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #0084FD;
    --darkcolor: #333333;
    --lightcolor: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #FDC15F;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--lightcolor);
}

.container{
    padding: 15px;
}

/*UTILITIES*/


/*HEADER*/
header{
    background-color: var(--secondary-color);
    color: var(--lightcolor);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 10000;

}



/*MAIN*/
main{
    margin-top: 80px;
}



/*FOOTER*/
footer{
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}



/*RESPONSIVE*/